<aside id="logo-sidebar"
   class="transition duration-500 ease-in-out transform hover:translate-y-10 bgcolor fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="bgcolor h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class=" space-y-2 font-medium">
         <li *ngIf="currentPageDash == 'overview'">
            <a (click)="currentPageDash = this.list[0] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white bg-orange-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
                  class="w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                  <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
               </svg>
               <span class="ml-3">Overview</span>
            </a>
         </li>
         <li *ngIf="currentPageDash != 'overview'">
            <a (click)="currentPageDash = this.list[0] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
                  class="w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                  <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
               </svg>
               <span class="ml-3">Overview</span>
            </a>
         </li>
         <li *ngIf="currentPageDash == 'doctors'">
            <a (click)="currentPageDash = this.list[1] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white bg-orange-700 dark:hover:bg-gray-700">
               <img style="fill: white;"
                  class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  src="../../assets/images/doctor-icon.svg" alt="Your SVG file">
               <span class="flex-1 ml-3 whitespace-nowrap">Doctors</span>
            </a>
         </li>
         <li *ngIf="currentPageDash != 'doctors'">
            <a (click)="currentPageDash = this.list[1] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <img style="fill: white;"
                  class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  src="../../assets/images/doctor-icon.svg" alt="Your SVG file">
               <span class="flex-1 ml-3 whitespace-nowrap">Doctors</span>
            </a>
         </li>
         <li *ngIf="currentPageDash == 'patients'">
            <a (click)="currentPageDash = this.list[2] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white bg-orange-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Patients</span>
            </a>
         </li>
         <li *ngIf="currentPageDash != 'patients'">
            <a (click)="currentPageDash = this.list[2] "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
               </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Patients</span>
            </a>
         </li>
         <li>
            <a routerLink="/lab"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <img src="../../../assets/images/LabLogo.png" width="8%">
               <span class="flex-1 ml-3 whitespace-nowrap">Laboratory</span>
            </a>
         </li>
         <li>
            <a routerLink="/chat"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <img src="../../../assets/images/chaticon.png" width="10%">
               <span class="flex-1 ml-3 whitespace-nowrap">Chat</span>
            </a>
         </li>
      </ul>
   </div>
</aside>

<div class="p-4 sm:ml-64">
   <div *ngIf="currentPageDash == 'overview'"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 bg-gray-200">

      <div class="text-2xl font-bold">Overview</div><br>
      <div class="grid grid-cols-3 gap-4 mb-4">

         <!-- Patients -->
         <div>
            <p class="font-bold">Patients</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
               <div class="mb-2  mt-4"> <mat-icon class="icon-display">perm_identity</mat-icon></div>
               <div class="mb-2 text-2xl ">
                  <p>90</p>
               </div>
               <div class="mb-2 text-lg font-bold">
                  <p>Total Patients</p>
               </div>
               <div class="mb-2 ml-auto">
                  <button class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">Edit</button>

               </div>
            </div>
         </div>
         <!-- Number of bed -->
         <div>
            <p class="font-bold">Number of bed</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-blue-300 to-white p-5">
               <div class="mb-2  mt-4"> <mat-icon class="icon-display">local_hotel</mat-icon></div>
               <div class="mb-2 text-2xl ">
                  <p>90</p>
               </div>
               <div class="mb-2 text-lg font-bold">
                  <p>Total Beds</p>
               </div>
               <div class="mb-2 ml-auto">
                  <button class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">Edit</button>

               </div>
            </div>
         </div>
         <!-- Reports -->
         <div>
            <p class="font-bold">Reports</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white">
               <app-multi-chart></app-multi-chart>
            </div>
         </div>
      </div>
      <!-- Hospital servery -->
      <div class="flex">
         <div class="w-2/3">
            <p class="font-bold">Hospital servery</p>
            <div class="flex">

               <div routerLink="/totalstuff"
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">

                  <div class=" mt-4"> <mat-icon class="icon-display">local_hospital</mat-icon></div>
                  <div class="text-2xl ">
                     <p>90</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>Total_Stuff</p>
                  </div>

               </div>
               <div class="h-20"></div>
               <div routerLink="/treatments"
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-blue-500 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">healing</mat-icon></div>
                  <div class=" text-2xl ">
                     <p>...</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>Treatments</p>
                  </div>
               </div>

               <div routerLink="/hospatient"
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">person_add</mat-icon></div>
                  <div class=" text-2xl ">
                     <p>...</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>New_Patient</p>
                  </div>
               </div>
               <div routerLink="/releasedPatients"
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-blue-300 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">exit_to_app</mat-icon></div>
                  <div class=" text-2xl ">
                     <p>...</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>Daily_Release</p>
                  </div>

               </div>
            </div>
         </div>
         <div class="ml-4">
            <p class="font-bold">Recovery</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white ">
               <app-pie-graph></app-pie-graph>
            </div>
         </div>
      </div><br>



   </div>
   <div *ngIf="currentPageDash == this.list[1]"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 bg-gray-200">
      <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 flex"
         style="  transform-origin: top left;">
         <div
            class="max-w-sm m-4 transition duration-500 ease-in-out transform hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a routerLink="/profile">
               <img class="rounded-t-lg overflow-hidden" src="../../../assets/images/docexmp.PNG" alt="" />
            </a>
            <div class="p-5">
               <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">DR.Foulen ben foulen
                  </h5>
               </a>
               <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">chef service de l'Hospital Aziza othmena</p>
               <a routerLink="/chat"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contact
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div
            class="max-w-sm m-4 transition duration-500 ease-in-out transform hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a routerLink="/profile">
               <img class="rounded-t-lg overflow-hidden" src="../../../assets/images/docexmp.PNG" alt="" />
            </a>
            <div class="p-5">
               <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">DR.Foulen ben foulen
                  </h5>
               </a>
               <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">chef service de l'Hospital Aziza othmena</p>
               <a routerLink="/chat"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contact
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                  </svg>
               </a>
            </div>
         </div>

         <div
            class="max-w-sm m-4 transition duration-500 ease-in-out transform hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a routerLink="/profile">
               <img class="rounded-t-lg overflow-hidden" src="../../../assets/images/docexmp.PNG" alt="" />
            </a>
            <div class="p-5">
               <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">DR.Foulen ben foulen
                  </h5>
               </a>
               <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">chef service de l'Hospital Aziza othmena</p>
               <a routerLink="/chat"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contact
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div
            class="max-w-sm m-4 transition duration-500 ease-in-out transform hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a routerLink="/profile">
               <img class="rounded-t-lg overflow-hidden" src="../../../assets/images/docexmp.PNG" alt="" />
            </a>
            <div class="p-5">
               <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">DR.Foulen ben foulen
                  </h5>
               </a>
               <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">chef service de l'Hospital Aziza othmena</p>
               <a routerLink="/chat"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contact
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div
            class="max-w-sm m-4 transition duration-500 ease-in-out transform hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a routerLink="/profile">
               <img class="rounded-t-lg overflow-hidden" src="../../../assets/images/docexmp.PNG" alt="" />
            </a>
            <div class="p-5">
               <a href="#">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">DR.Foulen ben foulen
                  </h5>
               </a>
               <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">chef service de l'Hospital Aziza othmena</p>
               <a routerLink="/chat"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Contact
                  <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                  </svg>
               </a>
            </div>
         </div>
      </div>


   </div>

   <div *ngIf="currentPageDash == this.list[2]"
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 bg-gray-200">
      <h1 id="" class="font-bold text-gray-500 text-2xl">Hospitalized patients</h1>

      <div class="w-1/3 ml-auto">
         <div class="flex items-center rounded-full bg-gray-100 py-2 px-4 border-2 border-orange-500">
            <svg class="w-6 h-6 text-gray-400 mr-2" fill="none" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
               <path d="M21 21l-5.2-5.2M15.5 10.5a5 5 0 1 1-7.1 0 5 5 0 0 1 7.1 0z"></path>
            </svg>
            <input class="bg-gray-100 rounded-full w-full focus:outline-none" type="text" placeholder="Search...">
         </div>
      </div>

      <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-20">
         <table class="w-full divide-y divide-gray-200 text-sm text-left text-white">
            <thead class="text-xs text-gray-700 uppercase bg-white">
               <tr>
                  <th scope="col" class="px-6 py-3">
                     File Number
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Patient name
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Gender
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Date Of inten
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Companion Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Room
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Action
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Released
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr class="bg-gradient-to-r from-orange-400 to-orange-200 border-b dark:border-gray-700 ">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     502011
                  </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Floulen Folani
                  </th>
                  <td class="px-6 py-4">
                     MALE
                  </td>
                  <td class="px-6 py-4">
                     01/01/2023
                  </td>
                  <td class="px-6 py-4">
                     2foulen
                  </td>
                  <td class="px-6 py-4">
                     12
                  </td>
                  <td class="px-6 py-4 ">
                     <div class="flex">
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125">
                           <a routerLink="/patientView"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>edit</mat-icon>
                           </a>
                        </div>
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125"> <a
                              routerLink="/pschedule"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>calendar_today</mat-icon>
                           </a>
                        </div>
                     </div>
                  <td class="px-6 py-4">
                     <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                           <input id="terms" type="checkbox" value=""
                              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                              required>
                        </div>
                        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark if
                           they're Released</label>
                     </div>
                  </td>
               </tr>
               <tr class="tablehead bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     502011
                  </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Foulen Ben Foulen
                  </th>
                  <td class="px-6 py-4">
                     MALE
                  </td>
                  <td class="px-6 py-4">
                     01/01/2023
                  </td>
                  <td class="px-6 py-4">
                     foulen
                  </td>
                  <td class="px-6 py-4">
                     3
                  </td>
                  <td class="px-6 py-4">
                     <div class="flex">
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125">
                           <a routerLink="/patientView"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>edit</mat-icon>
                           </a>
                        </div>
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125"> <a
                              routerLink="/pschedule"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>calendar_today</mat-icon>
                           </a>
                        </div>
                     </div>
                  <td class="px-6 py-4">
                     <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                           <input id="terms" type="checkbox" value=""
                              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                              required>
                        </div>
                        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark if
                           they're Released</label>
                     </div>
                  </td>
               </tr>
               <tr class="bg-white bg-gradient-to-r from-orange-400 to-orange-200">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     482013
                  </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Sahar Sahbani
                  </th>
                  <td class="px-6 py-4">
                     FEMALE
                  </td>
                  <td class="px-6 py-4">
                     10/05/2023
                  </td>
                  <td class="px-6 py-4">
                     foulen
                  </td>
                  <td class="px-6 py-4">
                     7
                  </td>
                  <td class="px-6 py-4">
                     <div class="flex">
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125">
                           <a routerLink="/patientView"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>edit</mat-icon>
                           </a>
                        </div>
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125"> <a
                              routerLink="/pschedule"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>calendar_today</mat-icon>
                           </a>
                        </div>
                     </div>
                  </td>
                  <td class="px-6 py-4">
                     <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                           <input id="terms" type="checkbox" value=""
                              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                              required>
                        </div>
                        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark if
                           they're Released</label>
                     </div>
               </tr>
               <tr class="tablehead bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     502011
                  </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     Foulen Ben Foulen
                  </th>
                  <td class="px-6 py-4">
                     female
                  </td>
                  <td class="px-6 py-4">
                     01/01/2021
                  </td>
                  <td class="px-6 py-4">
                     foulen
                  </td>
                  <td class="px-6 py-4">
                     4
                  </td>
                  <td class="px-6 py-4">
                     <div class="flex">
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125">
                           <a routerLink="/patientView"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>edit</mat-icon>
                           </a>
                        </div>
                        <div class="w-1/2 transition duration-500 ease-in-out transform hover:scale-125"> <a
                              routerLink="/pschedule"
                              class="font-medium text-orange-500 dark:text-orange-500 hover:underline">
                              <mat-icon>calendar_today</mat-icon>
                           </a>
                        </div>
                     </div>
                  </td>
                  <td class="px-6 py-4">
                     <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                           <input id="terms" type="checkbox" value=""
                              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                              required>
                        </div>
                        <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark if
                           they're Released</label>
                     </div>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="flex-col flex justify-center items-center -translate-y-10">
         <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px">
               <li>
                  <a href="#"
                     class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
               </li>
               <li>
                  <a href="#" aria-current="page"
                     class="px-3 py-2 text-orange-600 border border-gray-300 bg-orange-50 hover:bg-orange-100 hover:text-orange-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">1</a>
               </li>
               <li>
                  <a href="#"
                     class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
               </li>
               <li>
                  <a href="#"
                     class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">3</a>
               </li>
               <li>
                  <a href="#"
                     class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
               </li>
               <li>
                  <a href="#"
                     class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
               </li>
               <li>
                  <a href="#"
                     class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
               </li>
            </ul>
         </nav>
      </div>

   </div>
</div>