<div class="m-20">
    <h1 id="latestcollection" class="font-bold text-black">Welcome to LEUKIOAURA Blogs</h1>
    <h3> Discover new insights and perspectives - check out our latest blog posts</h3>
    <table>
        <tr>
            <td>
                <div class="previewdiv relative transition duration-500 ease-in-out transform hover:scale-110 justify-center shadow-md m-8">
                    <img class="absolute shadow-md border border-white rounded-lg ml-4 mt-40 translate-y-4" src="../../assets/images/CoverLogo1.png" width="18%"/>
                    <div class=""><a routerLink="/">
                            <img class="overflow-hidden" src="../../assets/images/BlogCover1.png" alt="..."></a>
                    </div>
                    
                    <div class="p-6">
                        
                        <h1 class="text-xl font-bold">Childhood Leukemia: FAQ</h1>
                        <p class="text-sm text-gray-400">Leukemias are cancers that start in cells that would normally develop into
                            different types of blood cells.Childhood leukemia is a type of childhood cancer.</p>
                        <button style="background-color: #ff7c24;" class="transition duration-500 ease-in-out transform hover:scale-125 shadow-2xl p-2 m-2 text-gray-100">Read more</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="relative transition duration-500 ease-in-out transform hover:scale-110 previewdiv justify-center shadow-md m-8">
                    <img class="absolute shadow-md border border-white rounded-lg ml-4 mt-40 translate-y-4" src="../../assets/images/CoverLogo2.png" width="18%"/>
                    <div class=""><a routerLink="/">
                            <img class="overflow-hidden" src="../../assets/images/BlogCover2.png" alt="..."></a>
                    </div>
                    
                    <div class="p-6">         
                        <h1 class="text-xl font-bold">Cancer Detection Atifical intellegence</h1>
                        <p class="text-sm text-gray-400">Artificial Intelligence (AI) is growing rapidly in all sectors, including healthcare. AI has been critical in diagnosing, decision-making,...</p>
                        <button style="background-color: #ff7c24;" class="transition duration-500 ease-in-out transform hover:scale-125 shadow-2xl p-2 m-2 text-gray-100">Read more</button>
                    </div>
                </div>
            </td>
            <td>
                <div class="relative transition duration-500 ease-in-out transform hover:scale-110 previewdiv justify-center shadow-md m-8">
                    <img class="absolute shadow-md border border-white rounded-lg ml-4 mt-40 translate-y-4" src="../../assets/images/CoverLogo3.png" width="18%"/>
                    <div class=""><a routerLink="/">
                            <img class="overflow-hidden" src="../../assets/images/BlogCover3.png" alt="..."></a>
                    </div>
                    
                    <div class="p-6">
                        <h1 class="text-xl font-bold">Leukemia and Lymphoma Society</h1>
                        <p class="text-sm text-gray-400">Here at The Leukemia & Lymphoma Society (LLS), we remain laser-focused on continuing to drive forward our mission.</p>
                        <button style="background-color: #ff7c24;" class="transition duration-500 ease-in-out transform hover:scale-125 shadow-2xl p-2 m-2 text-gray-100">Read more</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>