<div class="relative">
    <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="imghd relative h-56 overflow-hidden md:h-96">
            <img 
                src="../../assets/images/carousel.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <div class="flex flex-col items-center">
                <div class="headC waviy text-center text-white">
                    <p>Awareness Makes a Cure</p><p>Possible</p>
                </div>
                <a routerLink="../home" fragment="latestcollection">
                <button style="background-color: #ff7c24;" class="shadow-2xl w-full p-2 m-2 text-gray-100">GET
                    STARTED</button></a>
            </div>
        </div>