<div id="aboutus" class="flex p-8 justify-center m-8 bg-gray-100">

    <div>
        <img class="relative overflow-hidden m-8" src="../../assets/images/hall.png" alt="..." width="80%">
    </div>
    <div class="w-1/2 pr-8 m-10">
        <h1 class="font-bold text-black m-8">About the hospital</h1>
        <h4 class="text-black m-8">The oldest hospital in Tunis, it was founded in 1662 under the reign of the Mouradite
            dynasty. Originally called Bimaristan Al Azzafine (Bimaristan of musicians), it is located in the El
            Azzafine souk, a territory retained as inalienable property by Princess Aziza Othmana. The hospital building
            still exists, at number 101 rue de la Kasbah,
        </h4>
    </div>

</div>