<div class="bodyRes">
    <br><br><br><br><br>
    <div class="blockRes flex m-10 justify-center bg-white rounded-lg shadow-2xl">
        <div class="loginImg w-3/4 pr-8 rounded-l-lg">
        </div>
        <div class="sideRes w-1/2 pr-8 dark:text-gray-800  rounded-lg bg-gradient-to-br from-orange-500 to-red-500">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                
                    <mat-card-header>
                        <h2  class="font-bold text-white" >Create an account</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="id" class="rounded-lg shadow-md p-2" placeholder="Username">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput formControlName="password" class="rounded-lg shadow-md p-2" placeholder="Password">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" class="rounded-lg shadow-md p-2" placeholder="Email">
                            </mat-form-field>
                            <div>
                                <button
                                    class="w-full text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center dark:hover:bg-primary-700 dark:focus:ring-primary-800 rounded-full"
                                    mat-raised-button color="primary">Sign up</button>

                                <p class="text-sm font-light text-white dark:text-gray-800">
                                    <br>Already have an account? <a routerLink="../login"
                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login
                                        here</a>
                                </p>
                            </div>
                        </form>
                    </mat-card-content>
                
            </div>
        </div>
    </div>
</div>