<app-carousel-dynamic></app-carousel-dynamic>

<div class="flex">
    <div class="w-2/3">
        <div class="flex flex-col">
            <div class="welcome m-8">
                <div class="  shadow-lg justify-center rounded p-5 bg-cover bg-center bg-no-repeat"
            style="background-image: url('../../assets/images/FeatCover.png');">

            <div class=" text-lg text-white">
                <p>Welcome</p>
            </div>
            <div class="text-lg text-white font-bold">
                <p>Mr. Floulen</p>
            </div>
            <hr class="w-64 border-white border-r my-4">
            <div class="text-l text-white">
                <p>Check your upcoming appointments, you medical file and reach your doctors...</p>
            </div>
            <br><br><br>
        </div>
            </div>
            <div class="grid m-8">
                <div class=" grid grid-cols-3 gap-16 ">
                    <a routerLink="/prescriptionsDet">
                        <div
                            class="transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-orange-300 to-white p-5">
                            <div class=" mt-4 flex justify-center"> <img src="../../assets/images/FeatIcon4.png" width="20%" />
                            </div>
            
                            <div class="mb-2 text-lg font-bold ">
                                <p>Prescription</p>
                            </div>
            
                            <div class="text-l ">
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/patientView">
                        <div
                            class="transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
                            <div class=" mt-4 flex justify-center"> <img src="../../assets/images/FeatIcon5.png" width="20%" />
                            </div>
                            <div class="mb-2 text-lg font-bold">
                                <p>Medical File</p>
                            </div>
                            <div class="text-l ">
                                <p></p>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/chat">
                    <div
                        class="transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-orange-300 to-white p-5">
                        <div class=" mt-4 flex justify-center"> <img src="../../assets/images/FeatIcon2.png" width="20%" /></div>
                        <div class="mb-2 text-lg font-bold">
                            <p>Contact Doctors</p>
                        </div>
                        <div class="text-l ">
                            <p></p>
                        </div>
                    </div>
                </a>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/3 m-8 shadow-lg">
        <app-dynamic-calendar></app-dynamic-calendar>
    </div>

</div>



<app-footer></app-footer>