<br>
<div class="flex items-center justify-center font-medium mt-20" style="font-size: 24px;">Patient File</div>
<div class="ml-20 mr-20 mb-20 flex flex-col border border-2 shadow-2xl">
    <div class="m-4">
        <h2 class="text-lg font-medium mb-4">Personal information</h2>
        <app-patient-file></app-patient-file>
    </div>
    <div class="m-4">
        <h2 class="text-lg font-medium mb-4">Exam results</h2>
        <app-patient-file2></app-patient-file2>
    </div>
    <div class="m-4">
        <h2 class="text-lg font-medium mb-4">Notes</h2>
        <app-patient-file3></app-patient-file3>
    </div>
    <div>
        <div class="bg-white shadow-md rounded-md p-6">
            <h2 class="text-lg font-medium mb-4">Laboratory Test</h2>
            <p class="text-sm text-gray-500 mb-6">Click the button below to download the PDF.</p>
            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md text-sm font-medium inline-block">Download PDF</a>
        </div>          
    </div>
</div>
<app-footer></app-footer>