<p>discharge-prescriptions-details works!</p>
<app-carousel-dynamic></app-carousel-dynamic>
<div class="bg-gray-200 m-4">
    <div class="flex mx-auto">
        <div class="w-1/3 ml-4 mt-2">
            Patient : Mr Foulen Ben Foulen<br>
            File number: 15
        </div>
        <div class="w-1/3">

        </div>
        <div class="w-1/3 text-right mr-4 mt-2">
            Discharge Prescription Date: 15/04/2023
        </div>
    </div>
    <hr class="border-b-2 border-gray-400 m-4">
    <div class="flex flex-col justify-center items-center">
    </div>
    <div class="bg-white m-8 rounded-lg shadow-2xl">
        <table class="w-full divide-y divide-gray-200 text-sm text-left text-white">
            <thead class="text-xs text-gray-700 uppercase bg-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        N°
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Drug name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Dose taken per unit
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Rhythm per day/week
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Route of administration
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Duration
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Remarks
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gradient-to-r from-gray-500 to-gray-400 border-b dark:border-gray-700 ">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                        1
                    </th>
                    <td class="px-6 py-4">
                        Vincristine sulfate
                    </td>
                    <td class="px-6 py-4">
                        2 mg
                    </td>
                    <td class="px-6 py-4">
                        1 time per week
                    </td>
                    <td class="px-6 py-4">
                        IV (intravenous)
                    </td>
                    <td class="px-6 py-4">
                        4 weeks
                    </td>
                    <td class="px-6 py-4">
                        orally with a full glass of water, without food
                    </td>
                </tr>
                <tr class="bg-gradient-to-r from-gray-500 to-gray-400 border-b dark:border-gray-700 ">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                        2
                    </th>
                    <td class="px-6 py-4">
                        Methotrexate
                    </td>
                    <td class="px-6 py-4">
                        10 mg
                    </td>
                    <td class="px-6 py-4">
                        2 times per day
                    </td>
                    <td class="px-6 py-4">
                        oral
                    </td>
                    <td class="px-6 py-4">
                        4 days
                    </td>
                    <td class="px-6 py-4">
                        orally with a full glass of water, without food
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <p class="text-gray-200">...</p>
</div>