<div class="car">
    <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="imghd  h-full overflow-hidden md:h-56">
            <img 
                src="../../assets/images/carouselDY.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <div class="flex flex-col items-center">
                <div *ngIf="router.url === '/features'" class="headC waviy text-center text-white">
                    <br>
                    <p>Features</p>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <div *ngIf="router.url === '/patients'" class="headC waviy text-center text-white">
                    <br>
                    <p>Features > Patients</p>
                </div>
            </div>
        </div>