<table class="min-w-full divide-y divide-gray-200 border-collapse border border-gray-500">
    <tbody class="bg-white divide-y divide-gray-200">
        <tr>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Patient
                Name</td>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm text-gray-500">Foulen ben foulen</td>
        </tr>
        <tr>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Age</td>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm text-gray-500">16</td>
        </tr>
        <tr>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Gender</td>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm text-gray-500">Male</td>
        </tr>
        <tr>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Date of
                consultation</td>
            <td class="border border-gray-500 px-6 py-4 whitespace-nowrap text-sm text-gray-500">24/07/2023</td>
        </tr>
    </tbody>
</table>