<app-carousel></app-carousel>
    
    <div class='w-full max-w-full p-6 mx-auto bg-white rounded-2xl shadow-xl flex flex-col'>
    <div class="bgcolor rounded-lg h-full px-5 pb-3 overflow-y-auto bg-gray-200 dark:bg-gray-800 ">
        <div class="mb-2 text-lg font-bold">
            <p>patient name:</p>
        </div>
        <div class="text-right mb-2 text-lg font-bold">
            <p class="ml-auto">patient File Details</p>
          </div>
        <div class="mb-2 text-lg font-bold">
            <p>File Number</p>
        </div>
    </div>
    </div>