
<aside id="logo-sidebar"
   class="transition duration-500 ease-in-out transform hover:translate-y-10 bgcolor fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="bgcolor h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class=" space-y-2 font-medium">
         <li>

            <a href="#"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
                  class="w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                  <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
               </svg>
               <span class="ml-3">Dashboard</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <img style="fill: white;" class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" src="../../assets/images/doctor-icon.svg" alt="Your SVG file">
               <span class="flex-1 ml-3 whitespace-nowrap">Doctors</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700">
               <svg aria-hidden="true"
               class="flex-shrink-0 w-6 h-6 text-white transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
               </path>
            </svg>
               <span class="flex-1 ml-3 whitespace-nowrap">Patients</span>
            </a>
         </li>
      </ul>
   </div>
</aside>

<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 bg-gray-200">
     
      <div class="text-2xl font-bold">Overview</div><br>
      <div class="grid grid-cols-3 gap-4 mb-4">
         
         <!-- Patients -->
         <div>
            <p class="font-bold">Patients</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
               <div class="mb-2  mt-4"> <mat-icon class="icon-display">perm_identity</mat-icon></div>
               <div class="mb-2 text-2xl ">
                  <p>90</p>
               </div>
               <div class="mb-2 text-lg font-bold">
                  <p>Total Patients</p>
               </div>
               <div class="mb-2 ml-auto">
                  <button class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">Edit</button>

               </div>
            </div>
         </div>
         <!-- Number of bed -->
         <div>
            <p class="font-bold">Number of bed</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-blue-300 to-white p-5">
               <div class="mb-2  mt-4"> <mat-icon class="icon-display">local_hotel</mat-icon></div>
               <div class="mb-2 text-2xl ">
                  <p>90</p>
               </div>
               <div class="mb-2 text-lg font-bold">
                  <p>Total Beds</p>
               </div>
               <div class="mb-2 ml-auto">
                  <button class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">Edit</button>

               </div>
            </div>
         </div>
         <!-- Reports -->
         <div>
            <p class="font-bold">Reports</p>
            <div class="flex flex-col shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
               <iframe></iframe>
            </div>
         </div>
      </div>
         <!-- Hospital servery -->
         <div class="flex">
         <div class="w-2/3">
            <p class="font-bold">Hospital servery</p>
            <div class="flex">
               <div
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">local_hospital</mat-icon></div>
                  <div class="text-2xl ">
                     <p>90</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>Total_Stuff</p>
                  </div>
               </div>
               <div class="h-20"></div>
               <div
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-blue-500 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">healing</mat-icon></div>
                  <div class=" text-2xl ">
                     <p>...</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>Treatments</p>
                  </div>
               </div>
               <div
                  class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-gray-300 to-white p-5">
                  <div class=" mt-4"> <mat-icon class="icon-display">person_add</mat-icon></div>
                  <div class=" text-2xl ">
                     <p>...</p>
                  </div>
                  <div class="mb-2 text-lg font-bold">
                     <p>New_Patient</p>
                  </div>
               </div>
               <div
               class="w-1/4 mx-2 p-4 transition duration-500 ease-in-out transform hover:scale-125 border-2 border-gray-500 flex flex-col items-center shadow-lg justify-center rounded bg-gradient-to-r from-blue-300 to-white p-5">
               <div class=" mt-4"> <mat-icon class="icon-display">exit_to_app</mat-icon></div>
               <div class=" text-2xl ">
                  <p>...</p>
               </div>
               <div class="mb-2 text-lg font-bold">
                  <p>Daily_Release</p>
               </div>
               
            </div>
            
            </div>
            
            <div class="w-1/3">
               
            </div>
         </div>
         
      </div><br>
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
         <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
      </div>
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
         <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
      </div>
      <div class="grid grid-cols-2 gap-4">
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">+</p>
         </div>
      </div>
   </div>
</div>